@media (prefers-color-scheme: light) {
    body {
      background-color: white;
      color: black;
      }
    a {
        color: black;
        background-color: transparent;
        text-decoration: underline;
      }
    a:hover {
        color: red;
        background-color: transparent;
        text-decoration: underline;
      }
  }
  @media (prefers-color-scheme: dark) {
    body {
      background-color: black;
      color: white;
      }
    a {
      color: white;
      background-color: transparent;
      text-decoration: underline;
    }
    a:hover {
      color: red;
      background-color: transparent;
      text-decoration: underline;
    }
  }
  